@import url(variables.css);

@media(max-width: 600px){
    body{
        background-color: var(--background-color-five);
    }
    
    .container{
        padding: 40px;
        height: 800px;
    }

    .container .main{
        grid-template-columns: 1/ 4;
    }
    
    .container .main .content-left{
        align-items: center;
        grid-column: 1 / 3;  
        margin-bottom: 10px;
        margin-bottom: 20px;
    }

    .container .main .content-left .content_info .content__btn{
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .container .main .content-left .content_info .content__btn .button{
        grid-column: 1 / 4;
    }

    .container .main .content-right{
        grid-column: 1 / 4;
    }
    
    
    .container .main .content-right .content__area .Desencriptar{
        height: 10rem;
    }

    .container .main .content-right .content__btn{
        display: grid;
    }

    .container .main .content-right .content__btn .button{

        grid-column: 1 / 4;
    }
    
    .footer{
        margin-top: 20px;
        height: 50px;
    }


    
}

@media (min-width: 600px) and (max-width: 800px){
    
    .container{
        height: 100%;
        padding: 120px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container .main{
        margin-bottom: 30px;
    }
    
    .container .main .content-left{
        align-items: center;
        grid-column: 1 / 3;  
        margin-bottom: 10px;
        margin-bottom: 20px;
    }

    .container .main .content-left .content_info .content__btn{
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .container .main .content-left .content_info .content__btn .button{
        grid-column: 1 / 4;
    }
    
    .container .main .content-right .content__area .Desencriptar{
        height: 12rem;
    }


    
}

@media (min-width: 800px) and (max-width: 1000px){
    
    .container{
        padding: 180px;

    }

    .container .main{
        grid-template-columns: 1/ 4;
    }

    .container .main .content-right{
        grid-column: 1 / 4;
    }

    
}


@media (min-width: 1000px) and (max-width: 1200px){
    
    .container{
        padding: 220px;

    }

    .container .main{
        height: 100%;
        margin-bottom: 30px;
    }
    
    .container .main .content-right .content__area .Desencriptar{
        height: 12rem;
    }

}


